{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "off" // Only for development, remove for production
  },
  "overrides": [{
    "files": ["*.md"],
    "parser": "eslint-plugin-markdownlint/parser",
    "extends": ["plugin:markdownlint/recommended"]
  }],
}
