{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off" // Only for development, remove for production
  },
  "overrides": [{
    "files": ["*.md"],
    "parser": "eslint-plugin-markdownlint/parser",
    "extends": ["plugin:markdownlint/recommended"]
  }],
  "parserOptions": {
    "ecmaVersion": 2020 // Need to use BigInt
  }
}
